[submodule "plugins/vim-qml"]
	path = plugins/vim-qml
	url = git://github.com/omailson/vim-qml.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/pydoc.vim"]
	path = plugins/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
