[submodule "plugins/vim-qml"]
	path = plugins/vim-qml
	url = git://github.com/omailson/vim-qml.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/pydoc.vim"]
	path = plugins/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
[submodule "plugins/vim-rails"]
	path = plugins/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "plugins/snipmate.vim"]
	path = plugins/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "plugins/vim-surround"]
	path = plugins/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "plugins/command-t"]
	path = plugins/command-t
	url = git://git.wincent.com/command-t.git
[submodule "plugins/vim-pathogen"]
	path = plugins/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "plugins/a.vim"]
	path = plugins/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "plugins/AutoClose"]
	path = plugins/AutoClose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "plugins/lodgeit.vim"]
	path = plugins/lodgeit.vim
	url = git://github.com/omailson/lodgeit.vim.git
[submodule "plugins/fugitive"]
	path = plugins/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "plugins/haskellmode-vim"]
	path = plugins/haskellmode-vim
	url = git://github.com/lukerandall/haskellmode-vim.git
[submodule "plugins/alex"]
	path = plugins/alex
	url = git://github.com/vim-scripts/alex.vim.git
[submodule "plugins/happy"]
	path = plugins/happy
	url = git://github.com/vim-scripts/happy.vim.git
[submodule "plugins/tcomment"]
	path = plugins/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "plugins/solarized"]
	path = plugins/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
